<header>
    <h1 class="text-4xl text-center py-4">Super Heroes</h1>
    <nav>
        <thead class="bg-red-500 text-white">
            <tr>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider border"><a href="/id">ID</a></th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider border"><a href="/nombreSuperHeroe">Nombre Super Heroe</a></th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider border"><a href="/nombreReal">Nombre Real</a></th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider border"><a href="/edad">Edad</a></th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider border"><a href="/planetaOrigen">Planeta Origen</a></th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider border"><a href="/debilidad">Debilidad</a></th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider border"><a href="/poderes">Poderes</a></th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider border"><a href="/aliados">Aliados</a></th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider border"><a href="/enemigos">Enemigos</a></th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider border"><a href="/creador">Creado por</a></th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider border"><a href="/createAt">Fecha de Cheacion</a></th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider border"><a href="">Modificar</a></th>
                <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider border"><a href="">Eliminar</a></th>
            </tr>
        </thead>
    </nav>
</header>