<section>
    <h1>Bienvenido a mi sitio web</h1>
    <p>Este es un ejemplo de como usar layouts en EJS con 'express-ejs-layout'.</p>
    <img src="https://cdn.pixabay.com/photo/2024/01/15/11/36/batman-8510026_960_720.png" alt="">
</section>